.about-hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.258)
    ),
    url("/assets/photos/marek-piwnicki-_NRNNhpJ_sI-unsplash.webp");
  background-size: cover;
  background-position: center;
  gap: var(--spacing-24);
}

.about-intro-text-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--padding-content);
  background-color: var(--color-lightblue);
  color: var(--color-darkblue);
  background: url("../../assets/svg/mountains.svg") var(--color-lightblue);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-info {
  padding: var(--padding-content);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--gap-content);
  flex-wrap: wrap;
  align-content: left;
}

.about-info__image {
  display: flex;
  width: 35%;
  position: relative;
  object-fit: cover;
}
.about-info__image img {
  object-fit: cover;
  border-radius: var(--border-radius-default);
}

.about-info__content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-24);
  align-items: flex-end;
  text-align: right;
}

.about-info--reversed {
  padding-bottom: 0;
}

.about-info--reversed .about-info__content {
  text-align: left;
}

.about-info__subtitle {
  color: var(--color-midblue);
}

.about-info__text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  min-width: 300px;
}
.about-info__text-intro p {
  font-weight: bold;
  color: var(--color-darkblue);
}
.about-info__text-intro {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  border-bottom: solid 1px var(--color-darkblue);
  padding-bottom: var(--spacing-24);
}

.about-info__description {
  align-self: stretch;
  word-wrap: break-word;
}

.full-width-image-section__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--padding-content);
  background-image: linear-gradient(
      rgba(0, 15, 92, 0.565),
      rgba(0, 5, 68, 0.662)
    ),
    url("../../assets/photos/paul-pastourmatzis-r0J9sGBWFOc-unsplash.webp");
  background-size: cover;
  color: var(--color-white);
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-info {
    width: 100%;
    flex-direction: column-reverse;
  }
  .about-info__image {
    width: 100%;
    aspect-ratio: 1 / 0.75;
  }
}
