.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/assets/photos/holly-mandarich-FidWUAMGoPg-unsplash.webp");
  background-size: cover;
  background-position: center;
}
