.articles-promo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  padding: var(--padding-content);
  width: 100%;
}

.articles-promo__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-content);
}

.articles-promo__card {
  transition: transform 0.3s ease;
  box-shadow: var(--shadow-default);
}

.articles-promo__card:hover {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

.articles-promo__card-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.articles-promo__card-meta {
  color: var(--color-darkblue);
}

.articles-promo__card-content {
  display: flex;
  padding: var(--gap-content-small);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
}

.articles-promo__card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .articles-promo__grid {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }

  .articles-promo__card {
    flex: 0 0 280px; /* Fixed width, adjust as needed */
    scroll-snap-align: start;
    min-width: 70vw;
  }

  .articles-promo__card-image {
    width: 100%;
    aspect-ratio: 1 / 0.6;
    object-fit: cover;
    display: block;
  }

  .articles-promo__grid::-webkit-scrollbar {
    display: none;
  }

  .articles-promo__grid {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .articles-promo__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
