<article class="articles-promo">
  <h2 class="articles-promo__title">Articles</h2>
  <div class="articles-promo__grid">
    <a href="articles-promo.html" class="articles-promo__card-link">
      <div class="articles-promo__card">
        <img
          class="articles-promo__card-image"
          src="../assets/photos/christopher-politano-c-grbmshZf0-unsplash.webp"
          alt="Private Tours"
        />
        <div class="articles-promo__card-content">
          <div class="articles-promo__card-meta">
            27 April 2025 | Mountain Tours
          </div>
          <h3 class="articles-promo__card-title">Private Tours</h3>
          <p class="articles-promo__card-description">
            When you plan ski mountaineering holidays the first thing you need
            to think about is your safety.<br />
            <span>Read more</span>
          </p>
        </div>
      </div>
    </a>
    <a href="articles-promo.html" class="articles-promo__card-link">
      <div class="articles-promo__card">
        <img
          class="articles-promo__card-image"
          src="../assets/photos/ivan-shimko-daH1hmtLorc-unsplash.webp"
          alt="Corporate events"
        />
        <div class="articles-promo__card-content">
          <div class="articles-promo__card-meta">01 February 2025 | Safety</div>
          <h3 class="articles-promo__card-title">Corporate events</h3>
          <p class="articles-promo__card-description">
            When you plan ski mountaineering holidays the first thing you need
            to think about is your safety. <br />
            <span>Read more</span>
          </p>
        </div>
      </div>
    </a>
    <a href="articles-promo.html" class="articles-promo__card-link">
      <div class="articles-promo__card">
        <img
          class="articles-promo__card-image"
          src="../assets/photos/hans-jurgen-mager-BKknb49v4aE-unsplash.webp"
          alt="Tours"
        />
        <div class="articles-promo__card-content">
          <div class="articles-promo__card-meta">
            16 June 2025 | Destinations
          </div>
          <h3 class="articles-promo__card-title">Tours</h3>
          <p class="articles-promo__card-description">
            When you plan ski mountaineering holidays the first thing you need
            to think about is your safety. <br />
            <span>Read more</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <a href="articles.html" class="articles-promo__see-all">See all...</a>
</article>
