<footer class="footer">
  <div class="footer__top">
    <div class="footer__brand">
      <div class="footer__logo">
        <a href="index.html" class="navbar__logo-link">
          <img
            src="/assets/logo/small.svg"
            alt="Logo"
            class="footer__logo-image"
          />
        </a>
      </div>
      <div class="footer__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida,
        mi eu pulvinar cursus, sem elit interdum mauris dipiscing elit. Aenean
        gravida, mi eu pulvinar cursus.
      </div>
    </div>
    <div class="footer__social">
      <a href="#" class="footer__social-icon">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="#" class="footer__social-icon">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>

  <div class="footer__divider"></div>

  <div class="footer__main">
    <div class="footer__contact">
      <div class="footer__contact-item">
        <div class="footer__contact-icon">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="footer__contact-info">
          <div class="footer__contact-label"><strong>Phone:</strong></div>
          <div class="footer__contact-value">+47 98 98 98 98</div>
        </div>
      </div>
      <div class="footer__contact-item">
        <div class="footer__contact-icon">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="footer__contact-info">
          <div class="footer__contact-label"><strong>Email:</strong></div>
          <div class="footer__contact-value">jimmy@mountainguide.no</div>
        </div>
      </div>

      <div class="footer__contact-item">
        <div class="footer__contact-icon">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="footer__contact-info">
          <div class="footer__contact-label"><strong>Address:</strong></div>
          <div class="footer__contact-value">
            Storelva 10, 9105 Kvaløya, Norway
          </div>
        </div>
      </div>
    </div>

    <div class="footer__form">
      <div class="footer__form-container">
        <h2 class="footer__form-title">Get in Touch:</h2>
        <div class="footer__divider"></div>
        <form class="footer__form-fields">
          <div class="footer__form-group">
            <input
              type="text"
              class="footer__input"
              placeholder="Name..."
              required
            />
            <input
              type="email"
              class="footer__input"
              placeholder="E-mail..."
              required
            />
            <input type="tel" class="footer__input" placeholder="Phone..." />
          </div>
          <div class="footer__form-group">
            <textarea
              class="footer__input footer__textarea"
              placeholder="Message..."
              required
            ></textarea>
          </div>
        </form>
      </div>
      <button type="submit" class="button button--orange footer__submit">
        Submit
      </button>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__divider"></div>
    <div class="footer__copyright">@jimmy@mountainguide.no 2025</div>
  </div>
</footer>
