<section class="services">
  <h2 class="services__title">Services</h2>
  <div class="services__grid">
    <a href="services.html" class="services__card-link">
      <div class="services__card">
        <img
          class="services__card-image"
          src="../assets/photos/vadym-shashkov-K_HplnwkQHo-unsplash.webp"
          alt="a person wearing skiis a blue jacket and a helmet, walking in the snow"
        />
        <div class="services__card-content">
          <h3 class="services__card-title">Private Tours</h3>
          <p class="services__card-description">
            When you plan ski mountaineering holidays the first thing you need
            to think about is your safety.
          </p>
        </div>
      </div>
    </a>
    <a href="services.html" class="services__card-link">
      <div class="services__card">
        <img
          class="services__card-image"
          src="../assets/photos/maxwell-ingham-qhCjlG6S25U-unsplash.webp"
          alt="a pearson with a red jacket is skiing down a snowy mountain facing away from the camera"
        />
        <div class="services__card-content">
          <h3 class="services__card-title">Corporate events</h3>
          <p class="services__card-description">
            When you plan ski mountaineering holidays the first thing you need
            to think about is your safety.
          </p>
        </div>
      </div>
    </a>
    <a href="services.html" class="services__card-link">
      <div class="services__card">
        <img
          class="services__card-image"
          src="../assets/photos/lionel-thevenaz-rGWXFn1GMFo-unsplash.webp"
          alt="someone wearing skis following a path in the snow, with mountains in the background"
        />
        <div class="services__card-content">
          <h3 class="services__card-title">Tours</h3>
          <p class="services__card-description">
            When you plan ski mountaineering holidays the first thing you need
            to think about is your safety.
          </p>
        </div>
      </div>
    </a>
  </div>
</section>
